/* Selector universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* selector id */
#contenedor{
    height: 1200px;
    width: 900px;
    background-color: #d49e23;
}
#cabecera{
    height: 25%;
    background-color: #d9bd1f;
}
#barraNavegacion{
    height: 5%;
    background-color: #713505;
}
#seccion1{
    height: 30%;
    background-color: #b01a1c;
    border-radius: 2px;
    border-color: #68351e;
    border-style: solid;
    margin-bottom: 5%;
}
#seccion2{
    height: 30%;
    background-color: #dcc43c;
    border-radius: 2px;
    border-color: #68351e;
    border-style: solid;
    margin-top: 5%;
}
#pieNavegacion{
    height: 10%;
    background-color: #744607;
    text-align: center;
}

/* selector clase */
.Encabezado{
    text-align: center;
    font-family: Arial;
}
.barraNavegacion{
    text-decoration: none;
    font-family: arial;
    font-size: 16;
    
}
.pieNavegacion{
    text-align: center;
    font-family: arial;
    font-size: 16;
    color: white;
}

.texto{
    font-family: arial;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: justify;
    font-size: 14;
    width: 60%;
}

/* selectores de etiqueta */
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}
img{
    width: 100px;
    height: 100px;
    border-radius: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}